@use '../../colors.scss';

.card-container {
  position: relative;
  background-color: colors.$purple-700;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  
  .main-info {
    display: flex;

    b {
      color: white
    }

    .approved {
      position: absolute;
      right: 1rem;
      top: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &::before {
        content: '';
        background-color: rgb(62, 255, 45);
        border-radius: 16px;
        border: rgb(240, 240, 240) 2px solid;
        width: 1rem;
        height: 1rem;
      }
    } 
    
    .rejected {
      position: absolute;
      right: 1rem;
      top: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    
      &::before {
        content: '';
        background-color: rgb(255, 45, 45);
        border-radius: 16px;
        border: rgb(240, 240, 240) 2px solid;
        width: 1rem;
        height: 1rem;
      }
    }
  }

  p {
    color: white
  }

  button {
    width: 4rem;
    border: none;
    outline: none;
    padding: .5rem;
    border-radius: 16px;

    background-color: red;
    color: white;
    font-family: 'Poppins', sans-serif;

    transition: .2s;

    cursor: pointer;

    &:hover {
      background-color: rgb(189, 18, 18);
    }
    &:activate {
      background-color: rgb(248, 46, 46);
    }
  }
  
}