@use '../../colors.scss';

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$purple-500;
  box-shadow: 0 .01rem 1rem rgba(0, 0, 0, 0.616);
  padding: .2rem 1rem;

  b {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .2s;

    &:hover {
      color: rgb(216, 216, 216)
    }

    &:active {
      color: rgb(180, 180, 180)
    }
  }

  .paths {
    display: flex;
    justify-content: space-between;
    border-top: 5px solid transparent;
    gap: 1rem;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 2px solid transparent;
      padding-bottom: 5px;
      
      &.active {
        border-bottom: 2px colors.$cyan-600 solid;
      }

      &:hover {
        border-bottom: 2px colors.$cyan-500 solid;
      }

      .icon-image {

        color: white;
        border-radius: 100px;
        cursor: pointer;
        transition: .2s;
        
      // &:hover {
      //   background-color: colors.$purple-700;
      // }
      
      // &:active {
      //   background-color: colors.$purple-800;
      // }
     }
    }
  }
}

