$purple-500: #9122f3;
$purple-600: #8502f7;
$purple-700: #7201d4;
$purple-800: #5f01b1;
$purple-900: #4c018d;

$cyan-500: #00ffa6;
$cyan-600: #04d48b;
$cyan-700: #02b374;
$cyan-800: #02b374;

$orange-500: #ffc100;
$orange-600: #ff9a00;
$orange-700: #ff7400